<div
  class="card"
  role="button"
  tabindex="0"
  (click)="onSelect()"
  (keydown.enter)="onSelect()"
  (keydown.space)="onSelect(); $event.preventDefault()"
  [attr.aria-label]="'Ver detalle de ' + movie.Title"
>
  <div class="card__poster">
    <img 
      *ngIf="!posterMissing"
      [src]="movie.Poster" 
      [alt]="movie.Title"
      (error)="onImageError()"
    >
    <div class="card__no-poster-text" *ngIf="posterMissing">Sin imagen</div>
  </div>

  <div class="card__info">
    <span class="card__type">{{ movie.Type }}</span>
    <h3 class="card__title">{{ movie.Title }}</h3>
    <p class="card__year">{{ movie.Year }}</p>
  </div>
</div>